@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #2d2d2d;
  background-color: #e5e5e5;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container,
._container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

._container-fluid {
  max-width: 1600px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.btn {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 141.69%;
  font-weight: 700;
  color: #ffffff;
  background-color: #fcb427;
  padding: 12px 45px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-transparent {
  background-color: transparent;
  color: #2d2d2d;
  border: 1px solid #fcb427;
}

.title {
  font-family: "PT Sans", sans-serif;
  color: #2d2d2d;
  font-weight: 700;
  font-size: 40px;
  line-height: 141.69%;
}

.title span {
  color: #fcb427;
}

._footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.sliders-technique__arrows,
.readyproject__slidertop-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 25px;
}

.sliders-technique__arrows .slider-arrow,
.readyproject__slidertop-arrows .slider-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fcb427;
}

.sliders-technique__arrows .slider-arrow svg,
.readyproject__slidertop-arrows .slider-arrow svg {
  position: relative;
  margin-left: -30px;
  z-index: 2;
}

.sliders-technique__arrows .slider-arrow_prev,
.readyproject__slidertop-arrows .slider-arrow_prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-right: 30px;
}

.sliders-technique__arrows .swiper-button-disabled,
.readyproject__slidertop-arrows .swiper-button-disabled {
  border: 0px solid #fcb427;
}

.sliders-technique__arrows .swiper-button-disabled svg,
.readyproject__slidertop-arrows .swiper-button-disabled svg {
  opacity: 0.7;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
  background-color: #2d2d2d;
  color: #fff;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 142.19%;
}

.top-header .block-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 321px;
          flex: 0 0 321px;
}

.top-header__logo {
  margin-right: 21px;
}

.top-header__time,
.top-header__adres,
.top-header__numbers {
  padding-left: 31px;
  position: relative;
  margin-right: 18px;
}

.top-header__time::before,
.top-header__adres::before,
.top-header__numbers::before {
  content: "";
  background-image: url("../img/icons/clock.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top-header__adres {
  margin-right: 44px;
  max-width: 175px;
}

.top-header__adres::before {
  background-image: url("../img/icons/marker.svg");
}

.top-header__btn {
  font-size: 16px;
  color: #fff;
  margin-right: 44px;
  padding: 9px 25px;
}

.top-header__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0;
}

.top-header__numbers::before {
  background-image: url("../img/icons/phone-call.svg");
}

.top-header__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 156.69%;
  color: #fff;
}

.header__bottom {
  background-color: #f3f3f3;
}

.header__bottom-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 76px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list__item:not(:last-child) {
  margin-right: 30px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 156.69%;
  color: #000000;
  padding: 0 0 5px 0;
  background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor)) 0 100%/0 2px no-repeat;
  background: -o-linear-gradient(left, currentColor, currentColor) 0 100%/0 2px no-repeat;
  background: linear-gradient(to right, currentColor, currentColor) 0 100%/0 2px no-repeat;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.bottom-header__search {
  max-width: 270px;
  width: 100%;
}

.bottom-header__search .search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(45, 45, 45, 0.6);
  position: relative;
  width: 100%;
}

.bottom-header__search .search-form__input {
  background-color: transparent;
  padding: 0 35px 0 10px;
  height: 30px;
  width: 100%;
}

.bottom-header__search .search-form__btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  background-image: url("../img/icons/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 55px 0 45px 0;
  background-color: #2d2d2d;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  max-width: 190px;
  margin-right: 25px;
  margin-bottom: 30px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo img {
  width: 165px;
  height: 90px;
}

.footer__text {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 28px;
}

.footer__text-copy {
  font-size: 10px;
  line-height: 160%;
  color: #b5b5b5;
}

.footer__copy-box {
  width: 100%;
  text-align: center;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.menu-footer__title {
  margin-bottom: 15px;
}

.menu-footer__column {
  max-width: 190px;
}

.menu-footer__column:not(:last-child) {
  margin-right: 60px;
}

.menu-footer__list li {
  margin-bottom: 15px;
}

.menu-footer__list li:not(:last-child) {
  margin-bottom: 7px;
}

.menu-footer__link {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.subscribe {
  max-width: 170px;
  margin-bottom: 30px;
}

.subscribe__btn {
  background-color: #fff;
  font-size: 15px;
  color: #000;
  padding: 11px 22px;
  margin-bottom: 22px;
}

.social-subscribe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-subscribe__link svg {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.contact-footer__title {
  margin-bottom: 15px;
}

.contact-footer__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-footer__phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 156.69%;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-slider {
  background-color: #f3f3f3;
  padding-bottom: 75px;
}

.main-slider__body {
  position: relative;
}

.main-slider__content {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  z-index: 5;
  max-width: 585px;
  width: 100%;
}

.content-main__title {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 141.69%;
  margin-bottom: 30px;
  max-width: 555px;
  padding-top: 30px;
}

.content-main__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 264px;
  height: 5px;
  background-color: #fcb427;
}

.content-main__text {
  line-height: 156.69%;
  max-width: 435px;
  margin-bottom: 30px;
}

.content-main__btn {
  margin-right: 30px;
}

.content-main__link {
  border: 1px solid #2d2d2d;
}

.slider-main {
  position: relative;
}

.slider-main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 2;
}

.slider-main__image {
  padding: 0 0 37.1517027864% 0;
}

.slider-main__pagination {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: 62px;
  top: 35px;
  z-index: 3;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  color: #f1f1f1;
}

.slider-main__pagination .swiper-pagination-total {
  font-size: 20px;
  line-height: 23px;
  color: #e2e2e2;
}

.slider-main__controls {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 3;
}

.slider-main__controls .slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-main__controls .slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 66px;
  height: 66px;
  border: 1px solid #fff;
}

.slider-main__controls .slider-arrow_next {
  background-color: #fcb427;
  border: 1px solid #fcb427;
}

.slider-main__decoration {
  position: absolute;
  bottom: -50px;
  right: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  color: transparent;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.technique {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}

.technique__title {
  margin-bottom: 55px;
}

.technique__sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sliders-technique__image {
  width: 50%;
  margin-right: 30px;
  margin-bottom: -50px;
}

.sliders-technique__text {
  width: 50%;
}

.image-technique__slide {
  max-width: 646px;
  max-height: 458px;
}

.image-technique__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-technique__slider {
  margin-bottom: 34px;
}

.text-technique__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 142.19%;
  margin-bottom: 32px;
}

.text-technique__text {
  line-height: 156.69%;
  margin-bottom: 32px;
}

.sliders-technique__scrollbar {
  width: 100%;
  height: 4px;
  background-color: #c4c4c4;
}

.sliders-technique__scrollbar .swiper-scrollbar-drag {
  height: 4px;
  background-color: #535554;
}

.reliably {
  padding-top: 130px;
  padding-bottom: 120px;
}

.reliably__title {
  margin-bottom: 65px;
}

.reliably__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.reliably__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reliably__text {
  margin-bottom: 20px;
}

.reliably__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.reliably__col-list {
  max-width: 585px;
  margin-right: 70px;
}

.reliably__col-grid {
  max-width: 500px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 35px;
  font-weight: 500;
  text-align: center;
}

.reliably__item img {
  display: inline-block;
  margin-bottom: 20px;
}

._no-webp .reliably-facts{
  background-image: url("../img/line-bg.png"); }

.reliably-facts {
  padding: 46px 0 46px 0;
  background-color: #2d2d2d;
  background-size: auto;
  background-position: top center;
}

.reliably-facts__body {
  padding: 43px 0 43px 0;
  color: #fff;
  background-color: #2d2d2d;
}

.reliably-facts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliably-facts__item {
  max-width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.reliably-facts__item span {
  font-size: 70px;
  line-height: 75.5%;
  letter-spacing: 0.07em;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  margin-bottom: 15px;
}

.readyproject {
  padding: 50px 0 50px 0;
  background-color: #fff;
}

.readyproject__title {
  margin-bottom: 60px;
}

.slidertop-slider__slide {
  cursor: pointer;
  max-width: 170px;
  max-height: 137px;
}

.slidertop-slider__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.slidertop-slider .swiper-slide-thumb-active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.readyproject__slidertop-scrollbar {
  width: 100%;
  height: 4px;
  background-color: #c4c4c4;
  margin-top: 20px;
  margin-bottom: 30px;
}

.readyproject__slidertop-scrollbar .swiper-scrollbar-drag {
  height: 4px;
  background-color: #2d2d2d;
}

.readyproject-sliderbig__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.readyproject-sliderbig__slide::before {
  content: "EUROCRANE";
  position: absolute;
  bottom: -15px;
  right: 0;
  font-weight: 700;
  font-size: 110px;
  text-transform: uppercase;
  color: rgba(211, 208, 208, 0.2);
}

.readyproject-sliderbig__img {
  max-width: 788px;
  width: 100%;
  padding: 0 0 37% 0;
  margin-right: 40px;
}

.readyproject-sliderbig__content {
  max-width: 560px;
}

.readyproject-sliderbig__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 142.19%;
  margin-bottom: 30px;
}

.readyproject-sliderbig__adress {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 142.19%;
  padding-left: 31px;
  margin-bottom: 30px;
}

.readyproject-sliderbig__adress::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/marker-red.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.readyproject-sliderbig__list {
  margin-bottom: 30px;
}

.readyproject-sliderbig__list li {
  line-height: 156.69%;
}

.readyproject-sliderbig__link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 141.69%;
  color: #2d2d2d;
  position: relative;
  padding-right: 38px;
}

.readyproject-sliderbig__link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 18px;
  height: 8px;
  background-image: url("../img/icons/Arrow-yellow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1215px) {
  .top-header__btn {
    display: none;
  }
}

@media (max-width: 1212px) {
  ._container,
  ._container-fluid {
    max-width: 970px;
  }

  .main-slider__content {
    left: 15px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .slider-main::before {
    width: 60%;
  }

  .slider-main__image {
    padding: 0 0 600px 0;
  }

  .slider-main__controls {
    left: 60%;
  }

  .slider-main__decoration {
    display: none;
  }

  .reliably__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .reliably__col-list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
    margin-right: 0;
  }

  .reliably__col-grid {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 880));
  }

  .top-header__adres {
    margin-right: calc(15px + 29 * ((100vw - 320px) / 880));
  }

  .top-header__btn {
    margin-right: calc(15px + 29 * ((100vw - 320px) / 880));
  }

  .menu-list__item:not(:last-child) {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 880));
  }

  .menu-footer__column:not(:last-child) {
    margin-right: calc(25px + 35 * ((100vw - 320px) / 880));
  }

  .content-main__title {
    font-size: calc(30px + 14 * ((100vw - 320px) / 880));
  }

  .technique {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 880));
  }

  .text-technique__title {
    font-size: calc(26px + 7 * ((100vw - 320px) / 880));
  }

  .reliably {
    padding-top: calc(70px + 60 * ((100vw - 320px) / 880));
  }

  .reliably {
    padding-bottom: calc(70px + 50 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  ._container,
  ._container-fluid {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .top-header__adres {
    display: none;
  }

  .menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0 15px 15px 15px;
    background-color: #f3f3f3;
    border-top: 1px dashed #000;
    z-index: 50;
  }

  .menu-list .menu-list__item {
    padding: 10px 0;
  }

  .menu-list._active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .icon-menu {
    margin-right: 32px;
    display: block;
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }

  .main-slider {
    padding-bottom: 50px;
  }

  .slider-main::before {
    width: 70%;
  }

  .slider-main__controls {
    left: 70%;
  }

  .sliders-technique__image {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) and (max-width: 1200px) {
  .icon-menu {
    margin-right: calc(15px + 17 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 767.98px) {
  ._container,
  ._container-fluid {
    max-width: none;
    padding: 0 10px;
  }

  .sliders-technique__arrows,
  .readyproject__slidertop-arrows {
    display: none;
  }

  .top-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
  }

  .top-header__time {
    display: none;
  }

  .menu-list {
    width: 110%;
    margin-left: -15px;
    padding-left: 30px;
  }

  .main-slider__content {
    max-width: 100%;
    padding-right: 15px;
  }

  .slider-main::before {
    width: 100%;
  }

  .slider-main__pagination {
    display: none;
  }

  .slider-main__controls {
    display: none;
  }

  .technique__sliders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sliders-technique__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .sliders-technique__text {
    width: 100%;
  }

  .image-technique__slide {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }

  .reliably-facts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reliably-facts__item:not(:last-child) {
    margin-bottom: 100px;
  }

  .readyproject-sliderbig__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .readyproject-sliderbig__img {
    margin: 0 0 30px 0;
    padding: 0 0 70% 0;
  }
}

@media (max-width: 520px) {
  .top-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-header .block-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .main-slider__content {
    left: 0;
    top: 40px;
    padding: 0 15px;
  }

  .content-main__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-main__btn {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .slider-main__image {
    padding: 0 0 655px 0;
  }
}

@media (max-width: 479.98px) {
  .bottom-header__search {
    max-width: 200px;
  }

  .footer__main {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer__copy-box {
    margin-top: 30px;
  }

  .subscribe {
    margin: 0 auto;
  }

  .contact-footer {
    display: none;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #ff971d;
    color: #fff;
  }

  .menu-list__link:hover {
    background-size: 100% 2px;
  }

  .menu-footer__link:hover {
    color: #b5b5b5;
  }

  .social-subscribe__link:hover svg {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .social-subscribe__link:hover svg path {
    fill: aqua;
  }

  .contact-footer__phone:hover {
    color: #b5b5b5;
  }
}

._webp .reliably-facts{ background-image: url(../img/line-bg.webp); }